
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark header_bak">
  <img class="header_image" src="../assets/logo/luminor logo.png" alt="header_bg_image">
  <a class="navbar-brand" style="color:white;">IBAN Validator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal('add')"> Add IBAN <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="onOpenModal('theValid')"> Print Valid <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal('theInvalid')"> Print Invalid <span class="sr-only">(current)</span></a>
     </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
     </form>
  </div>
</nav>

<!-- All inserted and validated numbers table -->
<hr>
<div class="container" id="main-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th class="text-center"><span>ID</span></th>
                                <th><span>IBAN Number</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ibans of ibans" >
                                    <td>
                                        <a href="#" class="user-link" >{{ibans.id}}</a>
                                    </td>
                                    <td>{{ibans.iban}}</td>
                                    <td class="text-center">
                                      <div *ngIf="!ibans.valid">
                                        <span class="label label-default">Invalid</span>
                                      </div>
                                      <div *ngIf="ibans.valid">
                                        <span class="label label-default">Valid</span>
                                      </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add IBAN Number Modal -->
<div class="modal fade" id="addIbanModal" tabindex="-1" role="dialog" aria-labelledby="addIbanModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addIbanModalLabel">Add IBAN & Check</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddIban(addForm)">
          <div class="form-group">
             <label for="name">IBAN Number</label>
             <input ngModel name="iban" class="form-control" id="name" placeholder="LT47 2123 5609 6090" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-iban-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Valid and Invalid IBAN Numbers log Modal -->
<div class="modal fade" id="printValidModal" tabindex="-1" role="dialog" aria-labelledby="printValidModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="printValidModalLabel">{{changeModelTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <table class="table user-list">
        <thead>
            <tr>
            <th><span>IBAN Number</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iban of validIbans" >
                <td style="width: 60%;">{{iban.iban}}</td>
            </tr>
        </tbody>
        </table>
       <div class="modal-body">
       </div>
    </div>
  </div>
  </div>
